/* general text & display */

@font-face {
    font-family: 'Archivo Narrow';
    src: url('ArchivoNarrow-Medium.ttf');
	font-weight: 500;
}

:root {
	--color-teal: #009990;
	--color-pink: #ffaaee;
	--color-dawn: #fcc777;
	--color-gray: #a0a0a0;
}

body {
    margin-left: 2em;
    margin-top: 2em;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 500;
}
@media (max-width: 48em) {
body {
    margin-top: 1em;
    margin-left: 1em;    
    } 
}
h1 {
	font-family: 'Archivo Narrow', sans-serif;
    font-size: 150%;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 1px;
}
h2 {
	font-family: 'Archivo Narrow', sans-serif;
    font-size: 125%;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 1px;
}
p {
	font-family: 'Archivo Narrow', sans-serif;
    font-size: 100%;
    line-height: 125%;
    max-width: 40em;
    margin: 0;
    margin-bottom: 1em;
}
ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
li {
    margin-left: 2em;
    list-style: '// ';
}
button {
    cursor: pointer;
}
.text {
}

/* navigation menu */

.menu {
    color: var(--color-teal);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
}
.menuitem {
    flex: 1;
    margin: 0 .5em;
    text-align: center;
    display: inline-block;
    height: 2em;
    width: 10em;
    text-align: center;
    background: var(--color-dawn);
    
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 100%;
    line-height: 125%;
    color: var(--color-teal);
    text-decoration: none;
    border: 5px;
    border-style: outset;
    border-color: var(--color-dawn);
}
.menuitem:nth-child(1) {
  margin-left: 0;
}
.menuitem:nth-child(4) {
  margin-right: 0;
}
@media (max-width: 48em) {
.menu {
    width: calc(100% - 1em);    
    }  
.menuitem {
    flex: 100%;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}
.menuitem:hover {
    text-decoration: underline;
}
.activemenu {
    background-color: var(--color-pink);
    text-decoration: underline;
    border: 5px;
    border-style: inset;
    border-color: var(--color-pink);
}
.section {
    display: none;
}

/* map */
.mapcontainer {
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 800px;
    overflow: hidden;
}
@media (max-width: 48em) {
  .mapcontainer {
    width: calc(100% - 1em);
    height: calc(100% - 1em);
  }
}